---
title: Bad Dinosaur branding
---
<div class="container flex-grid--columns align-items--center">
  <div class="half">
    <!-- replace with business cards -->
    <img src="../images/hero-illustration.svg" alt="" width="100%" class="img-responsive">
  </div>
  <div class="half">
    <h1>Rebranding of Bad Dinosaur, an agency that builds software </h1>
    <p class="margin-bottom--large">I was tasked with coming up with a new
    look for Bad Dinosaur.</p>
    <a class="button">Go to Bad Dinosaur 🌏</a>
  </div>
</div>
<div class="background--light-pink margin-bottom--large">
  <div class="container flex-grid--columns align-items--center">
    <div class="half lg-padding-left--2rem">
      <h2>A small agency with a personal touch</h2>
      <p>Before I joined Bad Dinosaur was an agency of just two
        developers. The website had been quickly put together
        by them in little time</p>

      <p>The old website was full of stock photography and icons.
        We wanted to make it more "Bad Dinosaur". Bad Dinosaur
        is a small agency with a personal touch and we wanted
        the website to convey that. </p>
    </div>
    <div class="half lg-padding-right--2rem">
      <img src="../images/blueprint.png" alt="" width="100%" class="img-responsive">

    </div>
  </div>
</div>
<div>
<div style="display: flex; align-items: center; flex-flow:column; z-index:1">
  <img src="../images/whiteboard.png" alt="" width="40%" class="img-responsive">
</div>
<div class="container background--light-pink" style="margin-top: -2rem; z-index: 100">
  <div style="display: flex; justify-content: center; padding-top: 2rem">
    <div style="width: 70%;">
      <h2>Playful, human and not too techy</h2>
      <p>We took to the whiteboard first, identifying all the areas to focus on.
      This included imagery, type, logo, merchandise and colour. </p>

      <p>We identified exactly how we wanted Bad Dinosaur to come across.</p>

      <h3> Playful yet trustworthy</h3>
      <p> we’re obviously quite playful with a name like Bad Dinosaur but we’re also a trustworthy business partner for your business. We didn’t want to shout “DINOSAUR” at every opportunity but we wanted the playful nature of the company to shine through.</p>

      <h3>Human</h3>
      <p>We’re a small team of people who you’re going to get to know well doing business with. We wanted to show photos of real people who work at Bad Dinosaur. </p>

      <h3>Product-focused</h3>
      <p>We’re not going to bog you down with jargon and every process is clear and easy to understand. We don’t emphasise specific technology, we emphasise product and product design. </p>

    </div>
  </div>
</div>
