---
title: Bad Dinosaur branding
---
<div class="wrapper">
  <div class="container flex-grid--columns align-items--center">
    <div class="half">
      <!-- replace with business cards -->
      <img src="../images/branding-left.png" alt="" width="90%" class="img-responsive">
    </div>
    <div class="half">
      <h1>Rebranding of Bad Dinosaur, an agency that builds software </h1>
      <p class="margin-bottom--large">I was tasked with coming up with a new
      look for Bad Dinosaur.</p>
    </div>
  </div>
</div>
<div class="background--light-pink margin-bottom--large padding-y--6">
  <div class="wrapper">
    <div class="container flex-grid--columns align-items--center flip-mobile">
      <div class="half lg-padding-left--2rem">
        <h2>A small agency with a personal touch</h2>
        <p>Before I joined Bad Dinosaur was an agency of just two
          developers. The website had been quickly put together
          by them in little time.</p>

        <p>The old website was full of stock photography and icons.
          We wanted to make it more "Bad Dinosaur". Bad Dinosaur
          is a small agency with a personal touch and we wanted
          the website to convey that. </p>

        <p>Since Bad Dinosaur work with a lot of people without a background
          in tech we needed the branding to focus more on product and process than
          on technology.</p>
      </div>
      <div class="half lg-padding-right--2rem">
        <img src="../images/blueprint.png" alt="" width="100%" class="img-responsive">

      </div>
    </div>
  </div>
</div>
</div>
<div class="wrapper">
  <div class="container flex-grid--columns align-items--center padding-y--6">
    <div class="half lg-padding-right--2rem">
      <img src="../images/colours.png" alt="" width="100%" class="img-responsive">

    </div>
    <div class="half lg-padding-left--2rem">
      <h2>Colours</h2>
      <p>The old branding used a lot of colour, often using it to differenciate
        different services or products. As part of the rebranding we'd decied to use
        imagery instead of colour for this so I created a limit pallete that would
        make our brand quickly recognisable.</p>

      <p>The two main colours were a dark navy and a turquoise. The two colours
        work well together and weren't so playful they couldn't be used in important
        documents or on office walls. </p>

      <p>A secondary pallete was produced to ensure any illustrations looked
        on brand without being limited by just a few colours.</p>

    </div>
  </div>
</div>
</div>
<div class="background--light-pink">
  <div class="wrapper">
    <div class="container flex-grid--columns align-items--center padding-y--6 flip-mobile">
      <div class="half lg-padding-left--2rem">
        <h2>Logo</h2>
        <p>As part of the new branding we needed a new logo. The old one no longer fitted with our playful new style. The logo was a good opportunity to hint at the dinosaur in the name without
          screaming "DINOSAUR".</p>

        <p>We went through a few iterations of the logo. We had some claws that looked like giraffes and a few very happy and not-very-bad looking Dinosaurs. We decided on one that looked serious but still playful. As it was a small space we couldn’t get too detailed or realistic so we went for a simple silhouette of a vaguely diplodocus looking Dinosaur.</p>

        <p>Creating the logo was an iterative process and I produced over fifty different, small
          iterations. Nothing was ever deleted and inspiration came from all the previous versions.</p>

      </div>

      <div class="half lg-padding-right--2rem">
        <img src="../images/logos.png" alt="" width="100%" class="img-responsive">

      </div>
    </div>



  </div>
</div>
<div class="wrapper" class="">
  <div class="margin-bottom--large"
  style="display: flex; justify-content: center; align-items: center; width: 100%;">

  </div>
  <div class="container flex-grid--columns align-items--center padding-y--6">
    <div class="half lg-padding-right--2rem">
      <img src="../images/imagery.png" alt="" width="100%" class="img-responsive">

    </div>
    <div class="half lg-padding-left--2rem">
      <h2>Imagery</h2>
      <p>Illustration was a great way to get our processes and ideas across without
        going into any technical detail. I chose a style that was flat and made of simple shapes. A style that could be taken by other designers in the team and replicated. </p>

      <p>Throughout our website we also made sure to use photos of the team,
        reassuring visitors that we were a small, close-knit team and not a
        huge studio full of faceless developers and designers.</p>
    </div>
  </div>
</div>
<div class="background--light-pink">
  <div class="wrapper">
    <div class="container flex-grid--columns align-items--center padding-y--6 flip-mobile">
      <div class="half lg-padding-left--2rem">
        <h2>Roll-out</h2>
        <p>We rolled the branding out to the website first. We did this under a
          strict time-demand so chose to spend more time on the homepage and services page.
          The remaining pages got changed to be inline with the new branding but
          had no change of structure.</p>

        <p>I created illustrations for all our services and replaced any small icons
          with our own small, less detailed illustrations. I also rolled out the new colour
          scheme and replaced any stock photography with our own.</p>

        <p>As well as jazzing up our online presence we decided
           to get some merch produced so we got t-shirts,
          hoodies and business cards created. </p>

      </div>

      <div class="half lg-padding-right--2rem">
        <img src="../images/branding-application.png" alt="" width="100%" class="img-responsive">

      </div>
    </div>



  </div>
</div>
