@charset "utf-8";
@import "normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  @media screen and (min-width: 45rem) {
    font-size: 1.1rem;
  }
  background: #E3C6C2;
  color: #2E0C0D;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  min-height: 100vh;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  line-height: 140%;
}

small {
  line-height: 100%;
}

header {
  text-align: center;
  background: #e9ce3a;
  border-bottom: 3px #ad971a solid;
  padding-top: 1rem;
}

header a {
  text-decoration: none;
  color: #212a3b;
}

header a:visited {
  color: #212a3b;
}

.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
}

.pullout {
  p, h3 {
    padding: 0.5rem;
    @media screen and (min-width: 50rem) {
      padding: 0;
    }
  }
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: #fff;
  color: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @media screen and (min-width: 50rem) {
    padding: 1.5rem;
    border-radius: 10px;
  }
}

.lg-padding-left--2rem {
  @media screen and (min-width: 50rem) {
    padding-left: 2rem;
  }
}

.flex-grid--columns {
  display: flex;
  flex-flow: column;
}

.align-items--center {
  align-items: center;
}

.background--light-pink {
  background: #E3D5D2;
}

.half {
  width: 100%;
  padding-bottom: 0.5rem;
  @media screen and (min-width: 50rem) {
    width: 50%;
  }
}

.half:first-child {
  @media screen and (min-width: 50rem) {
    padding-right: 1rem;
  }
  padding-bottom: 1rem;
}

.half:last-child {
  @media screen and (min-width: 50rem) {
    padding-right: 1rem;
  }
}

.quarter {
  width: 25%;
  padding: 0.5rem;
}

figure {
  margin: 0 !important;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

.tiles {
  display: flex;
}

.horizontal-list {
  list-style-type: none;
  margin-left: 0;
  -webkit-padding-start: 0;
}

.horizontal-list li {
  display: inline;
  padding-right: 2em;
}

.horizontal-list li:last-child {
  padding-right: 0;
}

@media(min-width: 50rem) {
  .wrapper {
    padding: 0;
  }
  .flex-grid--columns {
    flex-flow: row wrap;
  }
}
