<!doctype html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <title><%= current_page.data.title || "Lindsay McDougall" %></title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <%= stylesheet_link_tag :site %>
  </head>
  <body class="<%= page_classes %>">
    <nav style="display: flex; justify-content: center;">
      <ul class="navigation-list unstyled-list">
        <li><a href="/">Home</a></li>
        <li><a href="/work">Work</a></li>
      </ul>
    </nav>
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
