---
title: An upcoming software companion for those tricky puppy months
---
<div class="wrapper">
  <div class="container flex-grid--columns align-items--center">
    <div class="half">
      <!-- replace with business cards -->
      <img src="../images/pupster.png" alt="" width="90%" class="img-responsive">
    </div>
    <div class="half">
      <h1>An upcoming software companion for those tricky puppy months </h1>
      <p class="margin-bottom--large">A web application for puppy house training</p>
    </div>
  </div>
</div>
<div class="background--light-pink margin-bottom--large">
  <div class="wrapper">
    <div class="container flex-grid--columns align-items--center flip-mobile">
      <div class="half lg-padding-left--2rem">
        <h2>The problem</h2>
        <p>Pupster was created out of personal need. My partner, Murray (a software developer), and I had just got an eight-week puppy, Duncan. We were determined to do puppy training right and decided to track his toilet trips.</p>


        <p>Training a puppy is hard… and frustrating at times! When they first arrive home they need to be taken out once every hour to do the toilet. </p>


        <p>Our first attempt at tracking his house training was through Trello. This worked but it wasn’t quick to bring up when outside while keeping an eye on Duncan. </p>
      </div>
      <div class="half lg-padding-right--2rem">
        <img src="../images/duncan.png" alt="" width="100%" class="img-responsive">

      </div>
    </div>
  </div>
</div>
</div>
<div class="wrapper">
  <div class="container flex-grid--columns align-items--center">
    <div class="half lg-padding-right--2rem">
      <img src="../images/pupster-ui.png" alt="" width="100%" class="img-responsive">

    </div>
    <div class="half lg-padding-left--2rem">
      <h2>A minimal viable product</h2>
      <p>We created exactly what we needed in the span of a few days.
         It had a limited set of features and very basic interface. </p>

      <p>You could log three different events - a pee, a poo and a meal. A pee was the first option selected on launch as this was the most frequent event! </p>

      <p>The app also shows when Duncan last pooped, peed or ate a meal. This helped with knowing exactly when the next time he’d need out was. It also includes a count for each event - this was especially useful when Duncan was unwell. </p>

    </div>
  </div>
</div>
</div>
<div class="background--light-pink">
  <div class="wrapper">
    <div class="container flex-grid--columns align-items--center flip-mobile">
      <div class="half lg-padding-left--2rem">
        <h2>The future</h2>
        <p>The result of Pupster was a fully housetrained dog! We’ve barely used Pupster recently as Duncan is now a year old and fully house trained. </p>

        <p>We’re now looking into evolving the app. Right now it’s all default Bootstrap components. I’m looking to evolve the look-and-feel by bringing in colour and a bit of personality. I’m even thinking we could use Duncan as a mascot!</p>

        <p>We’re going to improve the current user experience. Right now it takes a lot of clicks just to log an event. We’re going to look into one-touch events. Since the most common action is to log a pee at the current time that’s what we’re going to prioritise. </p>

        <p>Additionally, we’re going to add more features, including trends and reminders tailored to your puppy’s age. Check out my <a href="http://dribbble.com/LindsayMcDougall">Dribbble</a>
        for any sneak peeks.</p>
      </div>

      <div class="half lg-padding-right--2rem">
        <img src="../images/pupster-plans.png" alt="" width="100%" class="img-responsive">

      </div>
    </div>



  </div>
</div>
