---
title: About
---
<p>
  I'm Lindsay, hi! I'm a communications designer at FreeAgent (that's a fancy
  word for a designer who works in the communications department).
</p>

<p>These are the things I mostly do</p>
<ul>
  <li>HTML and CSS</li>
  <li>Animation</li>
  <li>A wee bit of illustration</li>
  <li>Print</li>
  <li>Bake a mean cake</li>
</ul>

<p>
  Mostly I do the things you'd expect any digital design to do these days.
  I'm very comfortable with HTML and CSS and I'm not scared to get into some
  JavaScript or a little Ruby (I'm using Middleman for this site 😄). I'm an
  total convert to Git after initially finding it terrifying. I'm now more
  concerned that I can't version control my life.
</p>

<p>
  To learn some stuff I went to Edinburgh Napier University and studied
  Interactive Media Design. I managed a 2:1 out of that. Here's my graduation
  photo with my dog. He's called Alfie.
</p>

<img src="images/alfie.jpg" alt="My best pal Alfie and me"/>
