---
title: Lindsay McDougall - About
layout: layout
---
<p>
  I'm Lindsay, hi! I'm a communications designer at FreeAgent (that's a fancy
  word for a designer who works in the communications department).
</p>
