---
title: Lindsay McDougall
---
<h2>Animation</h2>
<p>I have a really keen interest in animation and love a good dabble in
After Effects. It's something I'm constanty trying to improve upon, as an
interest and also out of a bitterness of a <em> totally unfair</em>
<50% grade in Motion Graphics in uni.</p>
<img src="images/sun.gif" />
<iframe src="https://player.vimeo.com/video/44401787" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<h2>Web design</h2>
<p>I do a shocking amount of making things look the same as they used to in my
  day-to-day job. From refactoring CSS to moving from a clunky CMS to a static
  site generator. I'm a proud owner of a Github profile with more deletions than
  additions. 🎉 </p>

<h2>Print</h2>
<p>When I started at FreeAgent it had to be calmy explained to me that sometimes
  designs are <em>printed</em> on <em>paper</em>. I was disturbed but it was
  a fantastic opportunity to learn about the fear of sending something to print.
</p>
<div style="display: flex;">
  <div style="width: 50%">
    <figure>
      <img src="images/gifbooth.jpg" width="100%" />
      <figcaption>
        I'm the one with the burrito
      </figcaption>
    </figure>
  </div>
  <div style="width: 50%">
    <h3>Creative Edinburgh Awards GIF Booth</h3>
    <p>This was a hella-cool opportunity. FreeAgent sponsored the Creative
      Edinburgh Awards in 2015 so being mad-cool and relevent we hired a GIF
      booth. </p>
    <p>For me this involved designing the backdrop for the GIFs, sourcing props
      from our existing illustrations and creating new illustrations (most notably
      a jammie dodger). </p>
    <p><small>Also worth note, the hardest physical labour I've ever done. Ever
      cut out several foamex boards with a tiny scalpel?
      There were blisters</small></p>
  </div>
</div>
