---
title: Home
---
<h2 class="">Animation</h2>
<p class="">I have a really keen interest in animation and love a good dabble in
After Effects. </p>
<div class="flex-grid--columns">
  <div class="half">
    <img src="images/mobile-update.gif" width="100%"/>
  </div>
  <div class="half">
    <img src="images/expenses-looped.gif" width="100%"/>
  </div>
</div>
<div class="flex-grid--columns">
  <div class="half">
    <img src="images/sun.gif" width="100%"/>
  </div>
  <div class="half">
    <img src="images/bulk_approval_infinite.gif" width="100%" />
  </div>
</div>
<div class="pullout flex-grid--columns background--blue">
  <div class="half">
    <img src="images/accountex.gif" width="100%" />

  </div>
  <div class="half">
    <h3>Accountex silent film</h3>
    <p>Accountex is like Glastonbury for accountants. Every Accountex FreeAgent
      has a stand. On this stand there's televisions and when they're not
      being used for showing off the FreeAgent app they display a silent video
      explaining what we do and how great FreeAgent is</p>
    <p>This was a great opportunity to take some of our existing illustrations
      and have a go at animating them. </p>
  </div>
</div>

<h2 class="">Web design</h2>
<p class="">I do a shocking amount of making things look the same as they used to in my
  day-to-day job. From refactoring CSS to moving from a clunky CMS to a static
  site generator. I'm a proud owner of a Github profile with more deletions than
  additions. 🎉 </p>
  <div class="flex-grid--columns">
    <div class="half">
      <img src="images/benlobban.png" width="100%" alt="He really likes Futura"/>
    </div>
    <div class="half">
      <img src="images/homepage.png" width="100%" />
    </div>
  </div>
  <div class="flex-grid--columns">
    <div class="half">
      <img src="images/referrals.jpg" width="100%" alt="He really likes Futura"/>
    </div>
    <div class="half">
      <img src="images/nyr-page.png" width="100%" />
    </div>
  </div>
<div class="pullout flex-grid--columns background--blue">
  <div class="half">
    <img src="images/adventure-time.png" width="100%"/>
  </div>
  <div class="half">
    <h3>Dash</h3>
    <p>Dash started as a Trello board my boyfriend Murray and I kept
      to list things we wanted to do and things we had done</p>
    <p>One day I was sick off work and bored out of my mind and decided I'd try
      to learn some Ruby, so I built adventure time which, using the Trello API
      took all the adventures and displayed them. There was even a little health
      meter that would deplete the longer we went without doing anything</p>
    <p>Dash has since been a React app, a Rails app and now is getting
      integrated into a whole dashboard that one day will be projected on a
      mirror, all sci-fi like. (I can't take credit for all this, Murray is a developer).
    <p>
  </div>
</div>

<h2 class="">Print</h2>
<p class="">I'm proud to say, as someone who mostly works on the web, I have endured
  the fear of sending something off to print and survived. ✌🏽
</p>
<div class="pullout flex-grid--columns background--blue"  style="position: relative">
  <div class="half">
    <figure style="z-index: 0">
      <img src="images/gifbooth.jpg" width="100%" />
      <figcaption>
        <small>I'm the one with the burrito</small>
      </figcaption>
    </figure>
  </div>
  <div class="half" style="z-index: 2">
    <div style="position:absolute; left: 90%; top: -10%; z-index: -1; transform: rotate(0.025turn);
">
      <img src="images/camera-03.svg" width="150px">
    </div>
    <div style="position:absolute; left: 0%; bottom: 0%; z-index: -1; transform: rotate(0.025turn);
">
      <img src="images/jammie-dodger.svg" width="120px">
    </div>
    <h3>Creative Edinburgh Awards GIF booth</h3>
    <div class="width--90">
      <p>This was a really interesting opportunity to design something really fun for
      the Creative Edinburgh Awards. We decided to create a GIF booth!</p>
      <p>For me this involved designing the backdrop for the GIFs, sourcing props
        from our existing illustrations and creating new illustrations (most notably
        a jammie dodger). </p>
      <p><small>Also worth note, the hardest physical labour I've ever had to do. Ever
        cut out several foamex boards with a tiny scalpel?
        There were blisters.</small></p>
    </div>
  </div>
</div>
</div>
