---
title: Lindsay McDougall
---
<div class="container flex-grid--columns align-items--center">
  <div class="half">
    <img src="images/me.jpg" alt="Lindsay and Duncan" width="300" class="img-responsive">
  </div>
  <div class="half">
    <h1>I'm Lindsay. I'm an Edinburgh based designer with five years experience
    of working within marketing and software development teams. </h1>
      <p>Right now I'm working at Bad Dinosaur. I've previously worked at
        FreeAgent and Appointedd</p>

  </div>
</div>
<div class="background--light-pink">
  <div class="container flex-grid--columns align-items--center">
    <div class="half">
      <h2>A little bit about me</h2>
      <p>Currently I'm working at Bad Dinosaur, a software agency in Edinburgh.
        Here I am currently leading a small design team while also doing
        day-to-day design work on client projects.</p>

      <p>I've worked on product teams as well as freelanced. I'm used to working
        at a fast-pace 
  </div>
</div>
