---
title: Home
---
<h2>Animation</h2>
<div class="flex-grid--columns">
  <div class="half">
    <img src="images/mobile-update.gif" alt="Mobile tax timline update animation"
    width="100%"/>
  </div>
  <div class="half">
    <img src="images/expenses-looped.gif" alt="Expenses on mobile animation" width="100%"/>
  </div>
</div>
<div class="flex-grid--columns">
  <div class="half">
    <img src="images/sun.gif" alt="Sunrise animation" width="100%"/>
  </div>
  <div class="half">
    <img src="images/bulk_approval_infinite.gif" alt="Bulk approval feature
    animation" width="100%" />
  </div>
</div>
<div class="pullout flex-grid--columns background--blue">
  <div class="half">
    <figure>
      <img src="images/accountex_old.gif" alt="Previous Accountex vide support animation"
      width="100%" />
      <figcaption>The old</figcaption>
    </figure>
    <figure>
      <img src="images/accountex_new.gif" alt="Current Accountex vide support animation"
      width="100%" />
      <figcaption>The new</figcaption>
    </figure>
  </div>
  <div class="half padding-left--2rem">
    <h3>Accountex silent film</h3>
    <p>Accountex is like Glastonbury for accountants. Every Accountex FreeAgent
      has a stand. On this stand there's televisions and when they're not
      being used for showing off the FreeAgent app they display a silent video
      explaining what we do and how great FreeAgent is</p>
    <p>This was my second time creating the video for Accountex. This year we had a
      slight rebrand of our accountants' facing marketing, so while not much of the
      content had changed the overall look changed quite significantly.</p>
    <p>
      In this version I was able to use our existing illustrations and animate them
      to convey our functionality and features.
    </p>
  </div>
</div>

<h2>Web design</h2>
  <div class="flex-grid--columns">
    <div class="half">
      <img src="images/benlobban.png" width="100%" alt="He really likes Futura"/>
    </div>
    <div class="half">
      <img src="images/homepage.png" width="100%" alt="FreeAgent US Homepage" />
    </div>
  </div>
  <div class="flex-grid--columns">
    <div class="half">
      <img src="images/referrals.jpg" width="100%" alt="FreeAgent referrals section
      of application"/>
    </div>
    <div class="half">
      <img src="images/nyr-page.png" width="100%" alt="New Year Resolutions landing
      page"/>
    </div>
  </div>
<div class="pullout flex-grid--columns background--blue">
  <div class="half">
    <img src="images/adventure-time.png" alt="Dash interface" width="100%"/>
  </div>
  <div class="half padding-left--2rem">
    <h3>Dash</h3>
    <p>Dash started as a Trello board my boyfriend Murray and I kept
      to list things we wanted to do and things we had done</p>
    <p>One day I was sick off work and bored out of my mind and decided I'd try
      to learn some Ruby, so I built adventure time which, using the Trello API
      took all the adventures and displayed them. There was even a little health
      meter that would deplete the longer we went without doing anything</p>
    <p>Dash has since been a React app, a Rails app and now is getting
      integrated into a whole dashboard that one day will be projected on a
      mirror, all sci-fi like. (I can't take credit for all this, Murray is a developer).
    </p>
  </div>
</div>

<h2>Print</h2>
<div class="pullout flex-grid--columns background--blue"  style="position: relative">
  <div class="half">
    <figure style="z-index: 0">
      <img src="images/gifbooth.gif" alt="GIF booth photo" width="100%" />
      <figcaption>
        <small>I'm the one with the burrito</small>
      </figcaption>
    </figure>
  </div>
  <div class="half">
    <h3>Creative Edinburgh Awards GIF booth</h3>
      <p>This was a really interesting opportunity to design something really fun for
      the Creative Edinburgh Awards. We decided to create a GIF booth!</p>
      <p>For me this involved designing the backdrop for the GIFs, sourcing props
        from our existing illustrations and creating new illustrations (most notably
        a jammie dodger). </p>
      <p><small>Also worth note, the hardest physical labour I've ever had to do. Ever
        cut out several foamex boards with a tiny scalpel?
        There were blisters.</small></p>
  </div>
</div>

<h2>Illustration</h2>
<div class="flex-grid--columns">
  <div class="half">
    <img src="images/jellyfish.png" alt="Jellyfish Illustration" width="100%"/>
  </div>
  <div class="half">
    <img src="images/desk-union-icons.png" alt="Desk Union icon set" width="100%"/>
  </div>
</div>
<div class="flex-grid--columns">
  <div class="half">
    <img src="images/cashflow.png" alt="Cashflow forecast illustration" width="100%"/>
  </div>
  <div class="half">
    <img src="images/rocket.png" alt="Rocket illustration" width="100%"/>
  </div>
</div>
</div>
